<div class="modal-header">
  <h3 class="modal-title">ADD STAR SYSTEM</h3>
</div>
<div class="modal-body">
  <form class="form-horizontal" name="starSystemForm">
    <div class="form-group">
      <label for="name" class="control-label col-sm-2">Name</label>
      <div class="col-sm-10">
        <input id="name" name="name" type="text" class="form-control focus" ng-model="starsystem.name" value="{{starsystem.name}}" required>
      </div>
    </div>

    <div class="form-group" style="display:none">
      <label for="controllingFaction" class="control-label col-sm-2">Controlling Faction</label>
      <div class="col-sm-10">
        <input id="controllingFaction" name="controllingFaction" autocomplete ui-items="factionList" ng-model="starsystem.controllingFaction" class="form-control">
      </div>
    </div>

    <div class="form-group">
      <label for="government" class="control-label col-sm-2">Government</label>
      <div class="col-sm-10">
        <select id="government" name="government" class="form-control" ng-model="starsystem.government" ng-options="government as government for government in metadata.governmentList">
        </select>
      </div>
    </div>

    <div class="form-group">
      <label for="allegiance" class="control-label col-sm-2">Allegiance</label>
      <div class="col-sm-10">
        <select id="allegiance" name="allegiance" class="form-control" ng-model="starsystem.allegiance" ng-options="allegiance as allegiance for allegiance in metadata.allegianceList">
        </select>
      </div>
    </div>

    <div class="form-group">
      <label for="security" class="control-label col-sm-2">Security</label>
      <div class="col-sm-10">
        <select id="security" name="security" class="form-control" ng-model="starsystem.security" ng-options="security as security for security in metadata.securityList">
        </select>
      </div>
    </div>

    <hr/>

    <div class="form-group">
      <label class="control-label col-sm-4">Linked Star Systems</label>
      <button class="btn eliteButton" ng-click="showAddLink()">ADD LINK</button>      
      <button class="btn eliteButton" ng-click="confirmDeleteLink()" ng-model="selectedLinkedStarSystem" ng-disabled="selectedLinkedStarSystem == null">DELETE</button>
    </div>
    <div class="form-group">
      <div class="linkedSystems gridStyle" ng-grid="linkedStarSystemsGridOptions"></div>
    </div>

    <div class="form-group">
      <input type="checkbox" id="isCompleted" class="" ng-model="starsystem.isCompleted">
      <label for="isCompleted" class="">Completed</label>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button class="btn eliteButton" ng-click="ok()">SAVE</button>
  <button class="btn eliteButton" ng-click="cancel()">CANCEL</button>
</div>